<div class="row">
    <div class="col my-3">
        <div class="alert-danger">
            <% if (errors) { %>
                <% for(let i = 0; i < errors.length; i++) { %>
                    <% const error = errors[i] %> 
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger">
                            <%= error.msg %>
                        </li>                                                
                    </ul>
                <% } %>
            <% } %>
        </div>
    </div>  